{% extends 'base.html' %}
{% load static %}

{% block title %} About {% endblock title %}

{% block style %}
    <style>
        .white {
            color: #fff;
        }
        .custom-img {
            max-width: 450px;
            max-height: 450px;
            width: auto;
            height: auto;
        }
    </style>
{% endblock style %}

{% block content %}

<!-- Start Page Title Area -->
<div class="page-title-area item-bg-1">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="page-title-content">
                    <h2>About</h2>
                    <ul>
                        <li><a href="{% url 'index_view' %}">Home</a></li>
                        <li>About</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Page Title Area -->

<!-- Start About Area -->
<section class="about-area pt-100">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="about-image">
                    <img src="{% static 'assets/img/team/5.webp' %}" alt="image">
                </div>
            </div>

            <div class="col-lg-6">
                <div class="about-content">
                    <span>About Us</span>
                    <h3>{{ about_us.title }}</h3>
                    <p>{{ about_us.description }}</p>

                    <ul class="about-features two">
                        {% if about_topics %}
                            {% for topic in about_topics %}
                                <li>
                                    <span>
                                        <i class='{{ topic.icon_label }}'></i>
                                        {{ topic.title }}
                                    </span>
                                </li>
                            {% endfor %}
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End About Area -->

<!-- Start team Area -->
<section class="doctor-area pt-100 pb-70">
    <div class="container-fluid">
        <div class="section-title">
            <div class="section-title">
                <span>{{ founder_details.legend }}</span>
                <h2>{{ founder_details.title }}</h2>
                <p>{{ founder_details.description }}</p>
            </div>
        </div>

        <div class="row">
            {% if founders %}
                {% for founder in founders %}
                    <div class="col-lg-4 col-md-6">
                        <div class="doctor-item">
                            <div class="image">
                                <img src="{{ founder.user.avatar.url }}" alt="image" width="100%" class="custom-img rounded">
                            </div>
                            <div class="content">
                                <h3>{{ founder.first_name }} {{ founder.middle_name }} {{ founder.last_name }}</h3>
                                <span>Profession: {{ founder.user.profession }}</span>

                                <ul class="social">
                                    {% if founder_social_links %}
                                        {% for link in founder_social_links %}
                                            {% if link.enable %}
                                                <li>
                                                    <a href="{{ link.link }}" target="_blank">
                                                        <i class="{{ link.icon_label }}"></i>
                                                    </a>
                                                </li>
                                            {% endif %}
                                        {% endfor %}    
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</section>


<!-- End team Area -->

<!-- End Appointment Area -->




<!-- End Consult Area -->

{% endblock content %}