{% extends 'base.html' %}
{% load static %}
{% block title %} Services {% endblock title %}

{% block content %}

<!-- Start Page Title Area -->
<div class="page-title-area item-bg-6">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="page-title-content">
                    <h2>Services</h2>
                    <ul>
                        <li><a href="{% url 'index_view' %}">Home</a></li>
                        <li>Services</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Page Title Area -->

<!-- Start Services Area -->
<section class="services-section bg-f4f6fe pt-100 pb-100">
    <div class="container">
        <div class="section-title">
            <span>{{ page_details.page_tile }}</span>
            <h2>{{ page_details.page_head }}</h2>
            <p>{{ page_details.description }}</p>
        </div>

        <div class="row">
            {% for service in services %}
                <div class="col-lg-4 col-md-6">
                    <div class="services-item-two">
                        <div class="icon">
                            <i class="flaticon-bacteria"></i>
                        </div>
                        <a href="{% url 'service_details' service.id %}">
                            <h3>{{ service.serviceName }}</h3>
                        </a>
                        <p>{{ service.serviceDescription|truncatechars:40  }}</p>
                        <a href="{% url 'service_details' service.id %}" class="read-btn">Read More +</a>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>
</section>
<!-- End Services Area -->

{% endblock content %}