{% extends 'base.html' %}

{% block title %} Blog {% endblock title %}

{% block content %}

<!-- Start Page Title Area -->
<div class="page-title-area item-bg-5">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="page-title-content">
                    <h2>Blog</h2>
                    <ul>
                        <li><a href="{% url 'index_view' %}">Home</a></li>
                        <li>Blog</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Page Title Area -->

<!-- Start Blog Area -->
<section class="blog-area pt-100 pb-70">
    <div class="container-fluid">
        <div class="section-title">
            <span>News</span>
            <h2>{{ blogcontent.title }}</h2>
            <p>{{ blogcontent.content }}</p>
        </div>

        <div class="row">
            {% for blog in Blogs %}
                <div class="col-lg-4 col-md-6">
                    <div class="blog-item">
                        <div class="image">
                            {% comment %} <a href="{% url 'single_blog' blog.slug %}"> {% endcomment %}
                            <a href="{% url 'Blog_details' blog.id %}">
                                <img src="{{ blog.image.url }}" alt="{{ blog.title }}" style="height: 250px; width: 100%; object-fit: cover;">
                            </a>
                            <a href="{% url 'Blog_details' blog.id %}" class="date">{{ blog.date|date:"d F, Y" }}</a>
                        </div>

                        <div class="content">
                            <h3>
                                {% comment %} <a href="{% url 'single_blog' blog.slug %}">{{ blog.title }}</a> {% endcomment %}
                                 <a href="{% url 'Blog_details' blog.id %}">{{ blog.title }}</a>
                            </h3>
                            <a href="{% url 'Blog_details' blog.id %}" class="blog-btn">Read More +</a>
                            {% comment %} <a href="{% url 'single_blog' blog.slug %}" class="blog-btn">Read More +</a> {% endcomment %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- End Blog Area -->

{% endblock content %}