{% load static %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
        <!-- Animate CSS -->
        <link rel="stylesheet" href="{% static 'assets/css/animate.min.css' %}">
        <!-- Meanmenu CSS -->
        <link rel="stylesheet" href="{% static 'assets/css/meanmenu.css' %}">
        <!-- All CSS -->
        <link rel="stylesheet" href="{% static 'assets/css/all.min.css' %}">
        <!-- Fontawesome CSS -->
        <link rel="stylesheet" href="{% static 'assets/css/fontawesome.min.css' %}">
        <!-- Flaticon CSS -->
        <link rel="stylesheet" href="{% static 'assets/css/flaticon.css' %}">
        <!-- Nice Select CSS -->
        <link rel="stylesheet" href="{% static 'assets/css/nice-select.min.css' %}">
        <!-- Odometer CSS -->
        <link rel="stylesheet" href="{% static 'assets/css/odometer.min.css' %}">
        <!-- Magnific CSS -->
        <link rel="stylesheet" href="{% static 'assets/css/magnific-popup.min.css' %}">
        <!-- Carousel CSS -->
        <link rel="stylesheet" href="{% static 'assets/css/owl.carousel.min.css' %}">
        <!-- Carousel Default CSS -->
        <link rel="stylesheet" href="{% static 'assets/css/owl.theme.default.min.css' %}">
        <!-- Style CSS -->
        <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
        <!-- Dark CSS -->
        <link rel="stylesheet" href="{% static 'assets/css/dark.css' %}">
        <!-- Responsive CSS -->
        <link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}">

        {% block style %}{% endblock style %}
        <title>Aakaar Developer - {% block title %} {% endblock title %}</title>

    </head>

    <body>

        <!-- Start Preloader Area -->
        <div class="preloader">
            <div class="spinner"></div>
        </div>
        <!-- End Preloader Area -->

        {% if not request.resolver_match.view_name == 'index_view' %}

            {% include 'components/navbar_site.html' %}

        {% else %}

            {% include 'components/navbar_index.html' %}

        {% endif %}

        {% block content %} {% endblock content %}

        <!-- Start Footer Area -->
        <section class="footer-area pt-100 pb-70">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-3 col-sm-6">
                        <div class="single-footer-widget">
                            <h3>{{ company.companyName }}</h3>
                            <p>{{ company.companyDescription }}</p>
                            <ul class="footer-social">

                                {% if social %}
                                    {% for link in social %}
                                        {% if link.enable %}
                                            <li>
                                                <a href="{{ link.link }}" target="_blank">
                                                    <i class="{{ link.icon_label }}"></i>
                                                </a>
                                            </li>
                                        {% endif %}
                                    {% endfor %}    
                                {% endif %}

                            </ul>
                        </div>
                    </div>



                    <div class="col-lg-3 col-sm-6">
                        <div class="single-footer-widget pl-5">
                            <h3>Useful Links</h3>

                            <ul class="footer-quick-links">
                                {% for nav in footar_navbars %}
                                    <li>
                                        <a href="{% url nav.url %}">{{ nav.navbar_name }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-3 col-sm-6">
                        <div class="single-footer-widget">
                            <h3>Contact</h3>

                            <div class="footer-info-contact">
                                <i class="flaticon-call"></i>
                                <h3>Phone</h3>
                                <span><a href="tel:91{{ company.companyMobile }}">+91 {{ company.companyMobile }}</a></span>
                            </div>

                            <div class="footer-info-contact">
                                <i class="flaticon-email"></i>
                                <h3>Email</h3>
                                <span><a
                                        href="mailto:{{ company.companyEmail }}"><span>{{ company.companyEmail }}</span></a></span>
                            </div>

                            <div class="footer-info-contact">
                                <i class="flaticon-pin"></i>
                                <h3>Address</h3>
                                <span>{{ company.companyAddress }}</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-sm-6">
                        <div class="single-footer-widget pl-5">
                            <h3>Our location</h3>

                            <ul class="footer-quick-links">
                                <li>
                                    {{ company.companyLocationUrl|safe }}
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="lines">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>

            <div class="shape">
                <img src="{% static 'assets/img/footer-shape.png' %}" alt="image">
            </div>
        </section>
        <!-- End Footer Area -->

        <!-- Start Copy Right Section -->
        <div class="copyright-area">
            <div class="container">
                <p>
                    Copyright © {{ company.companyName }}. All Rights Reserved by
                    <a href="#" target="_blank">
                        {{ company.companyName }}
                    </a>
                </p>
            </div>
        </div>
        <!-- End Copy Right Section -->

        <!-- Start Go Top Area -->
        <div class="go-top">
            <i class="fa fa-chevron-up"></i>
            <i class="fa fa-chevron-up"></i>
        </div>
        <!-- End Go Top Area -->

        <!-- dark version -->
        {% comment %} <div class="dark-version">
            <label id="switch" class="switch">
                <input type="checkbox" onchange="toggleTheme()" id="slider">
                <span class="slider round"></span>
            </label>
        </div> {% endcomment %}
        <!-- dark version -->

        <!-- Jquery Slim JS -->
        <script src="{% static 'assets/js/jquery.min.js' %}"></script>
        <!-- Popper JS -->
        <script src="{% static 'assets/js/popper.min.js' %}"></script>
        <!-- Bootstrap JS -->
        <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
        <!-- Meanmenu JS -->
        <script src="{% static 'assets/js/jquery.meanmenu.js' %}"></script>
        <!-- Nice Select JS -->
        <script src="{% static 'assets/js/jquery.nice-select.min.js' %}"></script>
        <!-- Odometer JS -->
        <script src="{% static 'assets/js/odometer.min.js' %}"></script>
        <!-- Appear JS -->
        <script src="{% static 'assets/js/jquery.appear.js' %}"></script>
        <!-- Datepicker JS -->
        <script src="{% static 'assets/js/datepicker.min.js' %}"></script>
        <!-- Magnific JS -->
        <script src="{% static 'assets/js/jquery.magnific-popup.min.js' %}"></script>
        <!-- Carousel JS -->
        <script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
        <!-- Form Ajaxchimp JS -->
        <script src="{% static 'assets/js/jquery.ajaxchimp.min.js' %}"></script>
        <!-- Form Validator JS -->
        {% comment %} <script src="{% static 'assets/js/form-validator.min.js' %}"></script> {% endcomment %}
        <!-- Contact JS -->
        <script src="{% static 'assets/js/contact-form-script.js' %}"></script>
        <!-- Custom JS -->
        <script src="{% static 'assets/js/main.js' %}"></script>


        <!-- partner JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js"></script>
        <script>
            $(document).ready(function () {
                $('.customer-logos').slick({
                    slidesToShow: 6,
                    slidesToScroll: 1,
                    autoplay: true,
                    autoplaySpeed: 1500,
                    arrows: false,
                    dots: false,
                    pauseOnHover: false,
                    responsive: [{
                        breakpoint: 768,
                        settings: {
                            slidesToShow: 4
                        }
                    }, {
                        breakpoint: 520,
                        settings: {
                            slidesToShow: 3
                        }
                    }]
                });
            });
        </script>
        {% block scripts %} {% endblock scripts %}
    </body>

</html>